<!DOCTYPE html>
<html>
    <head>
        <title><%= part.name %></title>
    </head>
    <body>
        <div>
            <h2><%= part.name %></h2>
            <p>Description: <%= part.description %></p>
            <p>Price: <%= part.price %></p>
            <p>Stock: <%= part.stock %></p>
        </div>
    </body>
</html>